.block_5 {
  height: 120vh;
  width: 100%;
  background-color: #161616;
  position: relative;
}

.header_block_5 {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0E0B0C;
  font-family: "Aboreto-Regular";
  font-size: 64px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;

}

.fon_block_5 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
    
}

.fon_5_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 107vh; 
  width: 50%;
  filter: blur(6px);
  animation: fon_block_5_1 3s linear 10ms infinite alternate;  
}
.fon_5_2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 107vh; 
  width: 50%;
  filter: blur(6px) grayscale();
  animation: fon_block_5_2 3s linear 10ms infinite alternate;  
  
}

@keyframes fon_block_5_1 {
  0% {
    filter: brightness(100%) contrast(140%) saturate(150%) blur(3px) grayscale(50%);

  }

  100% {
    filter: brightness(110%) contrast(290%) saturate(350%) blur(3px) ;
    animation-timing-function: ease-out;
  }
    
}

@keyframes fon_block_5_2 {
  0% {
    filter: brightness(80%) contrast(140%) saturate(150%) blur(3px) ;

  }

  100% {
    filter: brightness(150%) contrast(190%) saturate(350%) blur(3px);
    animation-timing-function: ease-out;
  }
    
}

.branch_block5 {
  height: 110vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  filter: drop-shadow(-20px 30px 20px #0E0B0C);
}

.content_block_5 {
  position: absolute;
  height: 107vh; 
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
}



@font-face {
  font-family: "Akaya Kanadaka-Regular";
  src: url(../../assets/fonts/AkayaKanadaka-Regular.ttf);
}

.text_content_block_5 {
  width: 60%;
  height: 107vh;
  color: white;
  font-size: 30px;
  font-family: "Akaya Kanadaka-Regular";
}

.text_content_block_5>p {
  padding-left: 100px;
  padding-top: 70px;
    
}

.branch_content_block_5 {
  position: relative;
  width: 50%;
  height: 107vh;
}

#p1_block_5_js {
  width: 850px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  z-index: 1;
}

#p2_block_5_js {
  width: 950px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
