.block_6 {
  height: 120vh;
  width: 100%;
  background-color: #161616;
  position: relative;
}

.header_block_6 {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0E0B0C;
  font-family: "Aboreto-Regular";
  font-size: 64px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;
}

.fon_block_6 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 
}

.fon_6 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  filter: blur(6px);
  animation: fon_block_6 3s linear 10ms infinite alternate;  
}

@keyframes fon_block_6 {
  0% {
    filter: brightness(100%) contrast(100%) saturate(200%) blur(0px);
  }
  100% {
    filter: brightness(130%) contrast(350%) saturate(330%) blur(5px) hue-rotate(-0.03turn);
    animation-timing-function: ease-out;
  }  
}

.branch_block6 {
  height: 110vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  filter: drop-shadow(-20px 30px 20px #0E0B0C);
}

.content_block_6 {
  position: absolute;
  height: 107vh; 
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Aladin-Regular";
  src: url(fonts/Aladin-Regular.ttf);
}

.text_content_block_6 {
  width: 70%;
  height: 107vh;
  color: white;
  font-size: 30px;
  font-family: "Aladin-Regular";
}

.text_content_block_6>p {
  padding-left: 100px;
  padding-top: 70px;
    
}

.branch_content_block_6 {
  position: relative;
  width: 50%;
  height: 107vh;
}

#img1_block_6 {
  position: absolute;
  top: 30px;
  left: -430px;
  z-index: 1;
}

#img2_block_6 {
  position: absolute;
  top: 270px;
  right: 700px;
  z-index: 1;
}

#img3_block_6 {
  position: absolute;
  top: 470px;
  left: -400px;
  z-index: 1;
}

#img4_block_6 {
  position: absolute;
  bottom: 80px;
  right: 680px;
  z-index: 1;
}

#p1_block_6_js {
  width: 800px;
  position: absolute;
  top: 0px;
  right: 100px;
  z-index: 1;
}

#p2_block_6_js {
  width: 800px;
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: 1;
}

#p3_block_6_js {
  width: 800px;
  position: absolute;
  bottom: 350px;
  right: 100px;
  z-index: 1;
}

#p4_block_6_js {
  width: 800px;
  position: absolute;
  bottom: 100px;
  left: 0px;
  z-index: 1;
}