.block_8 {
  height: 120vh;
  width: 100%;
  background-color: #161616;
  position: relative;
}

.header_block_8 {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0E0B0C;
  font-family: "Aboreto-Regular";
  font-size: 64px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;

}

.fon_block_8 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
    
}

.fon_8_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 107vh; 
  width: 50%;
  filter: blur(3px);
  animation: fon_block_8_1 3s linear 10ms infinite alternate;  
}
.fon_8_2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 107vh; 
  width: 50%;
  filter: blur(3px);
  animation: fon_block_8_2 3s linear 10ms infinite alternate;  
  
}

@keyframes fon_block_8_1 {
  0% {
    filter: brightness(100%) contrast(140%) saturate(150%) blur(3px) grayscale(50%);

  }

  100% {
    filter: brightness(70%) contrast(290%) saturate(350%) blur(3px) ;
    animation-timing-function: ease-out;
  }
    
}

@keyframes fon_block_8_2 {
  0% {
    filter: brightness(80%) contrast(140%) saturate(150%) blur(3px) ;

  }

  100% {
    filter: brightness(150%) contrast(190%) saturate(350%) blur(3px);
    animation-timing-function: ease-out;
  }
    
}

.branch_block8 {
  height: 110vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  filter: drop-shadow(-30px 30px 20px #0E0B0C);
}

.content_block_8 {
  position: absolute;
  height: 107vh; 
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
}



@font-face {
  font-family: "Akaya Kanadaka-Regular";
  src: url(../../assets/fonts/AkayaKanadaka-Regular.ttf);
}

.text_content_block_8 {
  width: 60%;
  height: 107vh;
  color: white;
  font-size: 30px;
  font-family: "Akaya Kanadaka-Regular", "Aladin-Regular";
}

.text_content_block_8>p {
  padding-left: 100px;
  padding-top: 70px;
    
}

.branch_content_block_8 {
  position: relative;
  width: 50%;
  height: 107vh;
}

#img1_block_8 {
  position: absolute;
  top: 20px;
  right: 830px;
  z-index: 1;
}

#img2_block_8 {
  position: absolute;
  top: 270px;
  right: 830px;
  z-index: 1;
}

#img3_block_8 {
  position: absolute;
  top: 520px;
  right: 830px;
  z-index: 1;
}

#img4_block_8 {
  position: absolute;
  top: 770px;
  right: 830px;
  z-index: 1;
}

#p1_block_8_js {
  width: 850px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-family: "Aladin-Regular";
}

#p2_block_8_js {
  width: 950px;
  position: absolute;
  top: 500px;
  left: 0px;
  z-index: 1;
  font-family: "Aladin-Regular";
}

#p3_block_8_js {
  width: 950px;
  position: absolute;
  top: 620px;
  left: 0px;
  z-index: 1;
  font-family: "Akaya Kanadaka-Regular";
}

#p4_block_8_js {
  width: 950px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  z-index: 1;
  font-family: "Aladin-Regular";
}

#p5_block_8_js {
  width: 600px;
  position: absolute;
  top: 200px;
  right: 250px;
  z-index: 1;
  font-family: "Aladin-Regular";
}

#p6_block_8_js {
  width: 600px;
  position: absolute;
  top: 320px;
  right: 250px;
  z-index: 1;
  font-family: "Aladin-Regular";
}

#p7_block_8_js {
  width: 900px;
  position: absolute;
  bottom: 50px;
  right: 0px;
  z-index: 1;
  font-family: "Aladin-Regular";
  font-size: 48px;
  -webkit-text-stroke: 2px black;
}
