.block_9 {
  height: 120vh;
  width: 100%;
  background-color: #161616;
  position: relative;
}

.header_block_9 {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0E0B0C;
  font-family: "Aboreto-Regular";
  font-size: 64px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 0;
  z-index: 1;
}

.fon_block_9 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 
}

.fon_9 {
  position: absolute;
  bottom: 0;
  height: 107vh; 
  width: 100%;
  filter: blur(4px);
  animation: fon_block_9 4s linear 10ms infinite alternate;  
}

@keyframes fon_block_9 {
  0% {
    filter: brightness(50%) contrast(200%) saturate(200%) blur(4px);
  }
  100% {
    filter: brightness(150%) contrast(330%) saturate(330%) blur(4px) hue-rotate(-0.02turn);
    animation-timing-function: ease-out;
  }  
}

.img_GriffithRight {
  height: 107vh;
  position: absolute;
  right: 0;
 
  animation: GriffithRight 6s linear 10ms infinite alternate;  
}



@keyframes GriffithRight {
  0% {
    filter: brightness(50%)  contrast(100%) saturate(100%) blur(1px) drop-shadow(-40px 5px 30px black);    

}
  100% {
    filter: brightness(130%)  contrast(370%) saturate(370%) blur(3px) drop-shadow(-40px 5px 30px black);
    animation-timing-function: ease-out;
}
    
}

.branch_block9 {
  height: 120vh;
  position: absolute;
  left: 180px;
  bottom: 0;
  z-index: 1;
  filter: drop-shadow(-30px 30px 20px #0E0B0C);
}

.content_block_9 {
  position: absolute;
  height: 107vh; 
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Aladin-Regular";
  src: url(fonts/Aladin-Regular.ttf);
}

.text_content_block_9 {
  width: 60%;
  height: 107vh;
  color: white;
  font-size: 30px;
  font-family: "Aladin-Regular";
}

.text_content_block_9>p {
  padding-left: 100px;
  padding-top: 70px;
}

.branch_content_block_9 {
  position: relative;
  width: 50%;
  height: 107vh;
}

#img1_block_9 {
  position: absolute;
  top: 30px;
  left: -930px;
  z-index: 1;
}

#img2_block_9 {
  position: absolute;
  top: 190px;
  left: -650px;
  z-index: 1;
}

#img3_block_9 {
  position: absolute;
  top: 30px;
  left: -390px;
  z-index: 1;
}

#img4_block_9 {
  position: absolute;
  bottom: 560px;
  left: -150px;
  z-index: 1;
}

#img5_block_9 {
  position: absolute;
  bottom: 350px;
  right: 1000px;
  z-index: 1;
}

#img6_block_9 {
  position: absolute;
  bottom: 250px;
  left: -750px;
  z-index: 1;
}

#img7_block_9 {
  position: absolute;
  bottom: 0px;
  left: -580px;
  z-index: 1;
}

#p1_block_9_js {
  position: absolute;
  width: 400px;
  top: -10px;
  left: 250px;
  z-index: 1;
}

#p2_block_9_js {
  width: 800px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.adc {
  font-family: "Akaya Kanadaka-Regular";
}

#p3_block_9_js {
  width: 800px;
  position: absolute;
  top: 250px;
  right: 0px;
  z-index: 1;
}

#p4_block_9_js {
  width: 800px;
  position: absolute;
  top: 530px;
  right: 0px;
  z-index: 1;
}

#p5_block_9_js {
  width: 600px;
  position: absolute;
  bottom: 100px;
  right: 650px;
  z-index: 1;
  font-size: 48px;
  -webkit-text-stroke: 2px black;
}